@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html, body {
  min-height: 100%;
}

body {
  background: #f8fafc; /* slate-50 */
  color: #0f172a;      /* slate-900 */
}

.dark body {
  background: #020617; /* slate-950 */
  color: #f8fafc;      /* slate-50 */
}